<li>
	{{burger_name}}

    {{#if devoured}}
	<button class="btn-success change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR IT!
	</button>

	<button class="btn-warning delete-burger" data-id="{{this.id}}">Delete</button>
    {{/if}}
</li>
